.bird-details {
  flex: 1;
  background-color: #ffffff;
  margin-bottom: 15px;
  margin-left: 7.5px;
  border-radius: 8px;
  border: 1px solid #caced9;
  &:hover {
    border: 1px solid #000000;
    cursor: default;
  }
  @media (max-width: 500px) {
    justify-content: center;
    margin-left: 0;
    text-align: center;
  }
  .message {
    text-align: center;
    padding: 30px 15px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 20px;
    .row {
      display: flex;
      flex-direction: row;
      @media (max-width: 800px) {
        flex-direction: column;
      }
      .image-container {
        margin: 0 15px 15px 0;
        position: relative;
        width: 100%;
        max-width: 200px;
        @media (max-width: 500px) {
          margin: 0 auto 15px;
        }
        .image-wrapper {
          position: relative;
          width: 100%;
          padding-top: 75%;
          background-color: lightsteelblue;
          box-shadow: 0px 4px 10px #5f5f61;
          border-radius: 8px;
          .image {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            overflow: hidden;
          }
        }
      }
      .short-info {
        flex: 1;
        .name {
          margin-bottom: 15px;
          width: 100%;
          font-size: 20px;
          border-bottom: 1px solid gainsboro;
        }
        .type {
          margin-bottom: 15px;
          width: 100%;
          font-size: 16px;
          border-bottom: 1px solid gainsboro;
        }
        .audio {
          width: 100%;
        }
      }
    }
    .full-info {
      .description {
        width: 100%;
        margin-top: 10px;
        text-align: left;
      }
    }
  }
}
