.question-card {
  margin: 0 15px;
  .card {
    max-width: 345px;
    display: flex;

    .media {
      height: 250px;
    }
    .media-blur {
      height: 200px;
      filter: blur(50px);
    }
    .audio {
      margin: 10px;
    }
  }
}
